* {
    margin: 0;
    font-family: ;
}

.navbar {
    position: fixed;
    align-items: center;
    background-color: rgb(30,30,30);
    width: 100%;
    z-index: 100;
}

.navbar:hover {
  background-color: white;
}

.navbar:hover .nav-links a, .dropbtn {
  color: black;
}

.navbar:hover .dropbtn {
  color: black;
}

.navbar:hover .nav-links a:hover, .dropbtn:hover {
  color: red;
}

.navbar:hover .dropbtn:hover {
  color: red;
}

.nav-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.nav-logo img {
    width: 450px;
    height: 70px;
}

.nav-links {
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  position: relative;
}

.nav-links a, .dropbtn {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 17px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: auto; /* full width */
  background: white;
  padding: 10px;
  z-index: 99;
}

.dropdown-content a {
  display: inline-block;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
}

.dropdown.open .dropdown-content {
  display: block;
}

.dropdown-content a img {
    width: 200px;
    height: 200px;
    display: block;
}

.overlay-text {
  position: absolute;
  top: 50%;             /* vertical center */
  left: 50%;            /* horizontal center */
  transform: translate(-50%, -50%);  /* perfect centering */
  color: white;
}

.dropdown-content-display {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropdown-content-box {
    position: relative;   /* anchor for absolute positioning */
    display: inline-block;
}

.box-text {
    color: white;
}

.menu-toggle {
    display: none;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgb(30,30,30);
    padding: 20px 30px;
    gap: 10px;
}

.footer-box {
    flex: 1;
    border: 1px solid white;
    text-align: center;
    height: 250px;
    padding: 10px 10px;
}

.footer-box h3 {
    color: white;
    padding: 10px 0;
}

.footer-box p {
    color: white;
}

.footer-box a {
    text-decoration: none;
    color: white;
}

.footer-box a:hover {
    color: red;
}


